# For more information or to request ownership changes, contact @Dr-Diodac: https://github.com/Dr-Diodac

* @Dr-Diodac
*.md @Dr-Diodac
*.yml @Dr-Diodac
*.yaml @Dr-Diodac
*.json @Dr-Diodac
SECURITY.md @Dr-Diodac
.github/workflows/* @Dr-Diodac
